In [1]:
import mysql.connector
from mysql.connector import Error

In [2]:
hostname = "qpd5lm.h.filess.io"
database = "OlistEcommerceProject_puttingcut"
port = "3307"
username = "OlistEcommerceProject_puttingcut"
password = "53a58923bd08259b9c89564261cf3ff70d84023b"

try:
    connection = mysql.connector.connect(host=hostname, database=database, user=username, password=password, port=port)
    if connection.is_connected():
        db_Info = connection.get_server_info()
        print("Connected to MySQL Server version ", db_Info)
        cursor = connection.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)

except Error as e:
    print("Error while connecting to MySQL", e)
finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

C:\Users\Sumee\AppData\Local\Temp\ipykernel_9432\3840706279.py:10: DeprecationWarning: Call to deprecated function get_server_info. Reason:
    The property counterpart 'server_info' should be used instead.

  db_Info = connection.get_server_info()

Connected to MySQL Server version  8.0.36-28
You're connected to database:  ('OlistEcommerceProject_puttingcut',)
MySQL connection is closed

In [4]:
import pandas as pd
order_payments = pd.read_csv("Data/olist_order_payments_dataset.csv")
order_payments.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45